@font-face {
    font-family : 'Special Elite Regular';
    font-weight : normal;
    font-style : normal;
    src : local('Special Elite') url('../../graphical.resources/font/SpecialElite-Regular.ttf') ;
}

.root {
    -fx-background-color: rgba(0,0,0,0.38)
}

.scene-background {
    -fx-background-image: url("../../graphical.resources/publisher.material/display_5.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center center;
}

.info-container-box {
    -fx-background-image: url("../../graphical.resources/misc/page_base_darken.jpg");
    -fx-background-size: cover;
    -fx-background-position: center center;
    -fx-background-repeat: repeat-x;
}

.info-container {
    -fx-background-image: url("../../graphical.resources/misc/white_paper_texture.png");
    -fx-background-size: cover;
    -fx-background-position: center center;
    -fx-alignment: center;
}

.info-text {
    -fx-font-family: "Special Elite Regular";
    -fx-text-alignment: center;
    -fx-wrap-text: true;
}

.nick-input {
    -fx-font-family: "Special Elite Regular";
    -fx-text-fill: rgba(28, 37, 41, 0.87);
    -fx-background-color: transparent;
    -fx-border-color: rgba(0, 0, 0, 0.93);
    -fx-border-radius: 3%;
}

.nick-input:focused, .nick-input:focused:hover {
    -fx-border-color: rgba(77, 84, 57, 0.93);
    -fx-effect: null;
}

.nick-input:hover {
    -fx-border-color: rgba(77, 84, 57, 0.93);
    -fx-effect: dropshadow(three-pass-box, rgba(171, 194, 112, 0.40), 10, 0, 0, 0);
}