@import "https://fonts.googleapis.com/css2?family=Special+Elite&amp;display=swap";

/*@font-face {*/
/*    font-family: 'Special Elite Regular';*/
/*    font-style: regular;*/
/*    font-weight: normal;*/
/*    src: local('sample'), url('https://fonts.googleapis.com/css2?family=Special+Elite&amp;display=swap') format('truetype');*/
/*}*/

.root {
    -fx-background-color: rgba(0,0,0,0.38)
}

.scene_background {
    -fx-background-image: url("../../graphical.resources/publisher.material/display_5.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center center;
}

.info-container-box {
    -fx-background-image: url("../../graphical.resources/misc/page_base_darken.jpg");
    -fx-background-size: cover;
    -fx-background-position: center center;
    -fx-background-repeat: repeat-x;
}

.info-container {
    -fx-background-image: url("../../graphical.resources/misc/white_paper_texture.png");
    -fx-background-size: cover;
    -fx-background-position: center center;
    -fx-alignment: center;
}

.info-text {
    -fx-font-family: "Special Elite";
    -fx-text-alignment: center;
    -fx-wrap-text: true;
}

.nick-input {
    -fx-font-family: "Special Elite";
    -fx-background-color: transparent;
    -fx-border-color: rgba(0, 0, 0, 0.87);
    -fx-border-radius: 3%;
}