@font-face {
    font-family: 'Special Elite Regular';
    font-weight: normal;
    font-style: normal;
    src: local('Special Elite') url('../../graphical.resources/font/SpecialElite-Regular.ttf');
}

#rootPane {
    -fx-background-image: url("../../graphical.resources/publisher.material/display_5.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center center;
}

#myShelfieTitleImageView {
    -fx-background-image: url('../../graphical.resources/publisher.material/title_big.png');
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center center;
}

#interfaceGrid{
    -fx-background-color: rgba(0, 0, 0, 0.38);
}

#infoBoxContainer {
    -fx-background-image: url("../../graphical.resources/misc/page_base_darken.jpg");
    -fx-background-size: cover;
    -fx-background-position: center center;
    -fx-background-repeat: repeat-x;
}

#infoContainer {
    -fx-background-image: url("../../graphical.resources/misc/white_paper_texture.png");
    -fx-background-size: cover;
    -fx-background-position: center center;
    -fx-alignment: center;
}

.welcome-text {
    -fx-font-family: "Special Elite Regular";
    -fx-text-alignment: center;
    -fx-wrap-text: true;
    -fx-snap-to-pixel: true;
    -fx-font-size: 1.7em;
}

.nick-input {
    -fx-font-family: "Special Elite Regular";
    -fx-text-fill: rgba(28, 37, 41, 0.87);
    -fx-background-color: transparent;
    -fx-border-color: rgba(0, 0, 0, 0.93);
    -fx-border-radius: 3%;
    -fx-font-size: 1.5em;
}

.nick-input:focused, .nick-input:focused:hover {
    -fx-border-color: rgba(128, 165, 26, 0.93);
    -fx-text-fill: rgba(77, 84, 57, 1);
    -fx-effect: null;
}

.nick-input:hover {
    -fx-border-color: rgba(128, 165, 26, 0.93);
    -fx-effect: dropshadow(three-pass-box, rgba(128, 165, 26, 0.2), 10, 0, 0, 0);
    -fx-text-fill: rgba(28, 37, 41, 0.97);
}

.nick-input:error, .nick-input:focused:error, .nick-input:filled:error, .nick-input:hover:error,
.nick-input:focused:hover:error {
    -fx-border-color: rgb(162, 15, 30, 0.93);
    -fx-border-width: 2;
    -fx-effect: dropshadow(gaussian, rgba(198, 57, 10, 0.1), 10, 0, 0, 0);
    -fx-text-fill: rgba(95, 35, 41, 1);
}

.action-button {
    -fx-font-family: "Special Elite Regular";
    -fx-text-fill: rgba(230, 221, 199, 0.90);
    -fx-background-image: url("../../graphical.resources/misc/page_base_lighten.png");
    -fx-background-size: cover;
    -fx-background-position: center center;
    -fx-alignment: center;
    -fx-font-size: 1em;
}

#cranioCreationLogo {
    -fx-background-image: url('../../graphical.resources/publisher.material/publisher.png');
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: right center;
}