#bookshelfGrid {
    -fx-padding: 2em 3.6em 3.8em 3.7em;
    -fx-hgap: 0.6em;
}

#bookshelfOpponentGrid {
    -fx-padding: 1.5em 2.7em 2.85em 2.77em;
    -fx-hgap: 0.6em;
}

#bookshelfImagePane {
    -fx-background-image: url('../../../graphical.resources/boards/bookshelf.png');
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-padding: 17em;
}

#bookshelfOpponentImagePane {
    -fx-background-image: url('../../../graphical.resources/boards/bookshelf.png');
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-padding: 12.75em;
}

.filled_bookshelf_cell {
    -fx-padding: 0.1em;
    -fx-background-color: rgba(101, 61, 30, 0.37);
}

.empty_bookshelf_cell {
    -fx-padding: 2em;
    -fx-background-color: transparent;
}

.opponent_empty_bookshelf_cell {
    -fx-padding: 1.5em;
    -fx-background-color: transparent;
}