#UpperContainer
{
    -fx-background-image: url("../../graphical.resources/misc/parquet_background.jpg");
}

#PaneBar
{
    -fx-background-image: url("../../graphical.resources/misc/page_base_darken.jpg");
    -fx-background-size: cover;
    -fx-text-alignment: center;
    -fx-background-repeat: no-repeat;
}
#scrollAndTextContainer
{
    -fx-background-image: url("../../graphical.resources/misc/page_base_lighten.png");
    -fx-background-size: cover;
    -fx-text-alignment: center;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-padding: 5em 3em 5em 3em;
}
#MyScroll
{
    -fx-padding: 15em 7em 12em 10em;
    -fx-background-color: rgb(101, 61, 30, 0.7);
}
#PlayersContainer
{
    -fx-padding: 0.5em 0.25em 0.5em 0.25em;
    -fx-spacing: 1em;
}
#Name1
{
    -fx-background-color: rgb(237, 238, 241, 0.6);

}

#Name2
{
    -fx-background-color: rgb(238, 237, 241, 0.6);
}
#Name3
{
    -fx-background-color: rgb(238, 239, 242, 0.6);
}
#Name4
{
    -fx-background-color: rgb(238, 237, 242, 0.6);
}
#N1
{
    -fx-text-alignment: center;
    -fx-wrap-text: true;
    -fx-snap-to-pixel: true;
    -fx-font-size: 1.5em;
}
#N2
{
    -fx-text-alignment: center;
    -fx-wrap-text: true;
    -fx-snap-to-pixel: true;
    -fx-font-size: 1.5em;
}
#N3
{
    -fx-text-alignment: center;
    -fx-wrap-text: true;
    -fx-snap-to-pixel: true;
    -fx-font-size: 1.5em;
}
#N4
{
    -fx-text-alignment: center;
    -fx-wrap-text: true;
    -fx-snap-to-pixel: true;
    -fx-font-size: 1.5em;
}
#IconContainer
{
    -fx-spacing: 0.3em;
}

#Icon1
{
    -fx-background-image: url("../../graphical.resources/icons/main-menu.png");
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-padding: 1.7em 1.7em 1.7em 1.7em;
}
#Icon2
{
    -fx-background-image: url("../../graphical.resources/icons/game-statistic-icon.png");
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-padding: 1.7em 1.7em 1.7em 1.7em;
}
#Icon3
{
    -fx-background-image: url("../../graphical.resources/icons/chat-icon.png");
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-padding: 1.7em 1.7em 1.7em 1.7em;
}


