#chatPageRootPane {
    -fx-background-image: url('../../../graphical.resources/misc/page_base_darken.jpg');
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-spacing: 2em;
    -fx-padding: 1em;
}

#chatPageBoxDisplacer {
    -fx-vgap: 0.5em;
}

#inputMessage {
    -fx-border-color: transparent;
    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
    -fx-background-color: rgb(230, 221, 199);
    -fx-text-fill: rgb(16, 27, 31);
    -fx-font-family: 'Special Elite Regular';
    -fx-font-size: 1em;
    -fx-wrap-text: true;
}

#scrollingChatPane {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

#scrollingChatPane .viewport {
    -fx-background-color: rgba(53, 39, 28, 0.97);
}